<html th:fragment="header">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<span><img th:src="@{/images/health.jpeg}" height="50" width="100"  /></span>
	 			<span style="font-size:20px" th:text="${subTitle}" class="label label-default"></span>
			</div>
		</div>
	</nav>
	 <form action="#" th:action="@{/plan}" method="get">
		Plans: <select name="code">
			<option th:each="plan : ${types.planTypes}"
				th:value="${plan.symbol}" th:text="${plan.name}" />
		</select> 
		<input type="submit" value="Submit" />
	</form>
</div>
</body>
</html>










